<!DOCTYPE html>
<html ng-app="appIndex">
<head>
  <meta charset="utf-8">
  <title>乐有方</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--angularjs-->
    <script src="js/Common/angular.min.js"></script>
    <script src="js/Controller/IndexController.js"></script>
  <!-- Roboto -->
  <link rel="stylesheet" href="css/common/ratchet.min.css">
  <link rel="stylesheet" href="css/common/app.css">
  <script src="js/Common/ratchet.min.js"></script>
  <script src="js/Common/zepto.js"></script>
  <script src="js/Common/comm.js"> </script>
    <script src="conf/conf.js"></script>
    <script src="js/Common/main.js"></script>
  <script type="text/javascript">
   $(function(){
    $.swarp(".imgshow1"); 
    $.swarp(".imgshow2"); 
    $.swarp(".imgshow3"); 
    $.swarp(".imgshow4"); 
    $.swarp(".imgshow5"); 
    $.deswarp(".destination");
    $.tap(".cityCon span");
  });
 </script>
</head>
<body ng-controller="IndexController">
  <header class="bar bar-nav orange head">
    <a class="pull-left tab" href="#myModalexample2">深圳</a>
    <a class="icon pull-right" href="#myPopover"><img src="images/phoneicon.png"></a>
    <h1><input type="search" placeholder="搜索目的地"></h1>
  </header>
  <div class="content" id="main_box">
    <div class="addWrap">
     <div class="swipe" id="mySwipe">
      <div class="swipe-wrap">
        <div><a href="javascript:;"><img class="img-responsive" src="images/banner.jpg"/></a></div>
        <div><a href="javascript:;"><img class="img-responsive" src="images/banner.jpg"/></a></div>
        <div><a href="javascript:;"><img class="img-responsive" src="images/banner.jpg"/></a></div>
      </div>
    </div>
    <ul id="position">
      <li class="cur"></li>
      <li class=""></li>
      <li class=""></li>
    </ul>
  </div>
  <script src="js/swipe.min.js"></script> 
  <script type="text/javascript">
    var bullets = document.getElementById('position').getElementsByTagName('li');
    var banner = Swipe(document.getElementById('mySwipe'), {
     auto: 2000,
     continuous: true,
     disableScroll:false,
     callback: function(pos) {
      var i = bullets.length;
      while (i--) {
        bullets[i].className = ' ';
      }
      bullets[pos].className = 'cur';
    }
  });
  </script>
  <aside class="bar-tab lv_btn padtb10">
    <a href="javascript:(window.location.href='plane.html')" class="tab-item">
      <span class="icon"><img src="images/indexicon.jpg"></span>
      <span class="tab-label">团游</span>
    </a>
    <a href="javascript:(window.location.href='travel.html')" class="tab-item">
      <span class="icon"><img src="images/indexicon2.jpg"></span>
      <span class="tab-label">门票</span>
    </a>
    <a href="javascript:(window.location.href='hotel.html')" class="tab-item">
      <span class="icon"><img src="images/indexicon3.jpg"></span>
      <span class="tab-label">酒店</span>
    </a>
    <a href="javascript:(window.location.href='plane.html')" class="tab-item">
      <span class="icon"><img src="images/indexicon4.jpg"></span>
      <span class="tab-label">机票</span>
    </a>
    <a href="javascript:(window.location.href='travel.html')" class="tab-item">
      <span class="icon"><img src="images/indexicon5.jpg"></span>
      <span class="tab-label">火车票</span>
    </a>
  </aside>
  <dl class="lv_block clearfix pad10">
    <dt>
      <a href="travel.html">
        <h5>周边游</h5>
        <p>精选一日游、周边游、靠谱</p>
      </a>
    </dt>
    <dd>
      <a href="travel.html">
        <h5>境外游</h5>
        <p>经典行程地道玩法、省钱</p>
      </a>
      <a href="travel.html">
        <h5>境内游</h5>
        <p>个性境内旅游方案、畅想</p>
      </a>
    </dd>
  </dl>
  <div class="destination">
    <div class="deswrap clearfix">
      <ul class="clearfix deswul" ng-repeat="val in hotCity">
       <li ng-repeat="v in val">
        <a href="travelCon.html">
         <img src="images/img1.jpg">
         <p>{{v.cityname}}</p>
       </a>
     </li>
</ul>
</div>
<ul class="desbtn">
    <li class="cur"></li>
    <li></li>
    <li></li>
</ul>
</div>
<div class="index_box hasbot">
  <h3>周边推荐</h3>
  <div class="imgshow imgshow1">
    <div class="imgwarp clearfix">
      <div class="pad10" ng-repeat="v in travelList">
        <a href="travelCon.html">
        <dl>
          <dt><img ng-src="{{v.image_url}}"></dt>
          <dd>
            <p>{{v.packagename}}</p>
              <p>价格：<span>{{v.today_price}}</span><em>|</em>分期：<span>￥{{v.fenqi.price}}×{{v.fenqi.num}}</span></p>
          </dd>
        </dl>
      </a>
      </div>
    </div>
    <ul class="picbtn">
    	<li class="cur"></li>
    	<li></li>
    	<li></li>
    	<li></li>
    </ul>
  </div>
</div>
<div class="index_box hasbot">
  <h3>境内推荐</h3>
  <div class="imgshow imgshow2">
    <div class="imgwarp clearfix">
        <div class="pad10" ng-repeat="v in jingnei">
            <a href="travelCon.html">
                <dl>
                    <dt><img ng-src="{{v.image_url}}"></dt>
                    <dd>
                        <p>{{v.packagename}}</p>
                        <p>价格：<span>{{v.today_price}}</span><em>|</em>分期：<span>￥{{v.fenqi.price}}×{{v.fenqi.num}}</span></p>
                    </dd>
                </dl>
            </a>
        </div>

    </div>
    <ul class="picbtn">
    	<li class="cur"></li>
    	<li></li>
    	<li></li>
    	<li></li>
    </ul>
  </div>
</div>
<div class="index_box hasbot">
  <h3>境外推荐</h3>
  <div class="imgshow imgshow3">
    <div class="imgwarp clearfix">
        <div class="pad10" ng-repeat="v in jingwai">
            <a href="travelCon.html">
                <dl>
                    <dt><img ng-src="{{v.image_url}}"></dt>
                    <dd>
                        <p>{{v.packagename}}</p>
                        <p>价格：<span>{{v.today_price}}</span><em>|</em>分期：<span>￥{{v.fenqi.price}}×{{v.fenqi.num}}</span></p>
                    </dd>
                </dl>
            </a>
        </div>

    </div>
    <ul class="picbtn">
    	<li class="cur"></li>
    	<li></li>
    	<li></li>
    	<li></li>
    </ul>
  </div>
</div>
<div class="index_box hasbot">
  <h3>门票推荐</h3>
  <div class="imgshow imgshow4">
    <div class="imgwarp clearfix">
      <div class="pad10">
        <a href="travelCon.html">
        <dl>
          <dt><img src="images/img5.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
      <div class="pad10">
        <a href="travelCon.html">
        <dl>
          <dt><img src="images/img5.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
      <div class="pad10">
        <a href="travelCon.html">
        <dl>
          <dt><img src="images/img5.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
      <div class="pad10">
        <a href="travelCon.html">
        <dl>
          <dt><img src="images/img5.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
    </div>
    <ul class="picbtn">
    	<li class="cur"></li>
    	<li></li>
    	<li></li>
    	<li></li>
    </ul>
  </div>
</div>
<div class="index_box hasbot">
  <h3>酒店推荐</h3>
  <div class="imgshow imgshow5">
    <div class="imgwarp clearfix">
      <div class="pad10">
        <a href="hotelCon.html">
        <dl>
          <dt><img src="images/img6.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
      <div class="pad10">
        <a href="hotelCon.html">
        <dl>
          <dt><img src="images/img6.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
      <div class="pad10">
        <a href="hotelCon.html">
        <dl>
          <dt><img src="images/img6.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
      <div class="pad10">
        <a href="hotelCon.html">
        <dl>
          <dt><img src="images/img6.jpg"></dt>
          <dd>
            <p>云阳张飞庙一日游</p>
            <p>价格：<span>200</span><em>|</em>分期：<span>￥100×2</span></p>
          </dd>
        </dl>
      </a>
      </div>
    </div>
    <ul class="picbtn">
    	<li class="cur"></li>
    	<li></li>
    	<li></li>
    	<li></li>
    </ul>
  </div>
</div>
</div>
<nav class="bar bar-tab sfoot">
  <a class="tab-item" href="index.html">
    <span class="icon"></span>
    <span class="tab-label">首页</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon"></span>
    <span class="tab-label">借款</span>
  </a>
  <a class="tab-item" href="#">
    <span class="icon"></span>
    <span class="tab-label">收藏</span>
  </a>
  <a class="tab-item" href="user.html">
    <span class="icon"></span>
    <span class="tab-label">我的</span>
  </a>
</nav>
<div id="myPopover" class="popover botphone">
  <img src="images/logo.jpg" class="logo">
  <h4>24小时客服电话</h4>
  <p>400-888-3658（免长途费）</p>
  <button class="btn btn-orange btn-block">电话咨询</button>
  <button class="btn btn-grey btn-block">取消</button>
</div>
<div id="myModalexample2" class="modal city_chooze">
  <header class="bar bar-nav">
    <a class="icon icon-close pull-right" href="#myModalexample2"></a>
    <h1 class="title">选择城市</h1>
  </header>
  <header class="bar bar-nav">
      <a class="icon icon-close pull-left" href="#myModalexample3"></a>
      <h1 class="title">筛选</h1>
    </header>
    <div class="content city" style="margin-top:-100px">
      <section>
        <input type="text" placeholder="0"> <input type="text" placeholder="0">
      </section>
      <div class="currentcity">
        <p class="hottit">热门城市</p>
        <div>重庆</div>
      </div>
        <div class="clearfix cityCon">
        <p class="hottit">热门城市</p>
        <div>
        <span class="on">北京</span>
        <span>上海</span>
        <span>南京</span>
        <span>广东</span>
        <span>天津</span>
        <span>北京</span>
        <span>上海</span>
        <span>南京</span>
        <span>广东</span>
        <span>天津</span>
        <span>北京</span>
        <span>上海</span>
        <span>南京</span>
        <span>广东</span>
        <span>天津</span>
        <span>北京</span>
        <span>上海</span>
        <span>南京</span>
        <span>广东</span>
        <span>天津</span>
        <span>北京</span>
        <span>上海</span>
        <span>南京</span>
        <span>广东</span>
        <span>天津</span>
        <span>北京</span>
        <span>上海</span>
      </div>
      </div>
      <div class="clearfix cityCon">
        <p class="hottit">快速定位</p>
        <div>
        <a href="#A1">A</a>
        <a href="#B1">B</a>
        <a href="#C1">C</a>
        <a href="#D">D</a>
        <a href="#E">E</a>
        <a href="#F">F</a>
        <a href="#G">G</a>
        <a href="#H">H</a>
        <a href="#I">I</a>
        <a href="#J">J</a>
        <a href="#K">K</a>
        <a href="#L">L</a>
        <a href="#M">M</a>
        <a href="#N">N</a>
        <a href="#O">O</a>
        <a href="#P">P</a>
        <a href="#Q">Q</a>
        <a href="#R">R</a>
        <a href="#S">S</a>
        <a href="#T">T</a>
        <a href="#U">U</a>
        <a href="#V">V</a>
        <a href="#W">W</a>
        <a href="#X">X</a>
        <a href="#Y">Y</a>
        <a href="#Z">Z</a>
      </div>
      </div>
      <div class="clearfix cityCon">
        <p class="hottit" name="A1" id="A1">A</p>
        <span>鞍山</span>
      </div>
      <div class="clearfix cityCon" name="B1" id="B1">
        <p class="hottit">B</p>
        <span>北京</span>
      </div>
      <div class="clearfix cityCon"  name="C1" id="C1">
        <p class="hottit">C</p>
        <span>成都</span><span>重庆</span><span>长沙</span><span>长春</span><span>常州</span>
      </div>
    </div>  
</body>

</html>
