<!DOCTYPE html>
<html ng-app="appPlaneBook">
<head>
    <meta charset="utf-8"/>
    <title>乐有方</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <!--Public-->
    <script src="conf/conf.js"></script>
    <script src="js/Common/main.js"></script>
    <script src="js/Common/angular.min.js"></script>
    <script src="js/Server/ClientServer.js"></script>
    <!--angularjs-->
    <script src="js/Controller/PlaneBookController.js"></script>
    <!-- Roboto -->
    <link rel="stylesheet" href="css/common/ratchet.min.css"/>
    <link rel="stylesheet" href="css/common/app.css"/>
</head>
<body class="grey" ng-controller="PlaneBookController">
<header class="bar bar-nav orange">
    <a class="icon icon-left-nav pull-left" onclick="history.go(-1)"></a>

    <h1 class="title">舱位选择</h1>
</header>
<div class="content pad50 grey" id="main_box">
    <div class="plane_cw">
        <section>
            <div class="plane_infor">
                <p class="hk_infor"><span><img src="images/plane_icon4.jpg"/>2015-07-09</span> <span><img
                        src="images/hkicon.jpg"/>深圳航空公司ZH9959<em>738</em><em>中</em></span></p>

                <div class="add_plane pad10">
                    <div class="addbox1">
                        <h3>深圳</h3>
                        <h5>07:13</h5>

                        <p>深圳宝安国际机场</p>
                    </div>
                    <div class="addbox2">
                        <img src="images/plane_icon3.jpg"/>
                    </div>
                    <div class="addbox1">
                        <h3>深圳</h3>
                        <h5>07:13</h5>

                        <p>深圳宝安国际机场</p>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <ul class="table-view plane_list nopa">
                <li class="table-view-cell" ng-repeat="v in flightLists">
                    <button class="btn btn-orange" ng-click="goToDetal('flight' , '' , '' , 'pay')">预订</button>
                    <span href="#" class="pull-right money">￥{{v.minprice}}</span> <h4>(经济舱)3.2折</h4>

                    <p><a href="#">退订规定</a></p></li>
            </ul>
            <a class="more_cw" href="#">更多舱位<span class="icon icon-down-nav"></span></a>
        </section>
    </div>
</div>
</body>
</html>