<!DOCTYPE html>
<html ng-app="appTravel">
<head>
	<meta charset="utf-8">
	<title>乐有方</title>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--public-->
    <script src="js/Common/angular.min.js"></script>
    <script src="conf/conf.js"></script>
    <script src="js/Common/main.js"></script>
    <!--angularjs-->
    <script src="js/Controller/TravelController.js"></script>
    <script src="js/Model/MainModel.js"></script>
	<!-- Roboto -->
	<link rel="stylesheet" href="css/common/ratchet.min.css">
	<link rel="stylesheet" href="css/common/app.css">
	<script src="js/Common/ratchet.min.js"></script>
	<script src="js/Common/comm.js"> </script>

    <script type="text/javascript">
      $(function(){
        $.tap(".citycon span");
  });
 </script>

</head>
<body ng-controller="TravelController">
	<header class="bar bar-nav orange head">
		<a class="pull-left tab" href="#myModalexample3">深圳</a>
		<a class="icon pull-right" href="#myPopover"><img src="images/phoneicon.png"></a>
		<h1><input type="search" placeholder="旅游目的地搜多"></h1>
	</header>
	<div class="content grey" id="main_box">
		<section class="pad10 border_bottom white">
			<div class="dest clearfix">
                <div ng-repeat="val in hotCity">
                    <a href="travel_chooze.html" ng-repeat="v in val">{{v.cityname}}</a>
                </div>
			</div>
			<a class="more_cw" href="travel_chooze.html">查看所有产品<span class="icon icon-right-nav"></span></a>
		</section>
		<section>
			<div class="segmented-control traveltab">
				<a class="control-item active" href="#item1mobile">周边旅游</a>
				<a class="control-item" href="#item2mobile">国内旅游</a>
				<a class="control-item" href="#item3mobile">出境旅游</a>
			</div>
			<div class="card travel_list">
				<div id="item1mobile" class="control-content active">
					<ul class="table-view">
						<li class="table-view-cell media nopa" ng-repeat="v in zhoubian">
							<a class="navigate-right nopa" href="travelCon.html">
                                <img class="media-object pull-left" ng-src="{{v.image_url}}">
								<div class="media-body">
									<h4>{{v.packagename}}</h4>
									<h6><em>￥{{v.today_price}}</em>起</h6>
									<p><span>月供<em>{{v.fenqi.price}}</em></span><span>分<em>{{v.fenqi.num}}</em>期</span></p>
								</div>
							</a> 
						</li>
					</ul>
				</div>
				<div id="item2mobile" class="control-content">
					<ul class="table-view">
                        <li class="table-view-cell media nopa" ng-repeat="v in jingnei">
                            <a class="navigate-right nopa" href="travelCon.html">
                                <img class="media-object pull-left" ng-src="{{v.image_url}}">
                                <div class="media-body">
                                    <h4>{{v.packagename}}</h4>
                                    <h6><em>￥{{v.today_price}}</em>起</h6>
                                    <p><span>月供<em>{{v.fenqi.price}}</em></span><span>分<em>{{v.fenqi.num}}</em>期</span></p>
                                </div>
                            </a>
                        </li>

					</ul>
				</div>
				<div id="item3mobile" class="control-content">
					<ul class="table-view">
                        <li class="table-view-cell media nopa" ng-repeat="v in jingwai">
                            <a class="navigate-right nopa" href="travelCon.html">
                                <img class="media-object pull-left" ng-src="{{v.image_url}}">
                                <div class="media-body">
                                    <h4>{{v.packagename}}</h4>
                                    <h6><em>￥{{v.today_price}}</em>起</h6>
                                    <p><span>月供<em>{{v.fenqi.price}}</em></span><span>分<em>{{v.fenqi.num}}</em>期</span></p>
                                </div>
                            </a>
                        </li>

					</ul>
				</div>
			</div>
		</section>

	</div>
	<div id="myPopover" class="popover botphone">
		<img src="images/logo.jpg" class="logo">
		<h4>24小时客服电话</h4>
		<p>400-888-3658（免长途费）</p>
		<button class="btn btn-orange btn-block">电话咨询</button>
		<button class="btn btn-grey btn-block">取消</button>
	</div>
	<div id="myModalexample3" class="modal city_chooze">
		<header class="bar bar-nav">
			<a class="icon icon-close pull-left" href="#myModalexample3"></a>
			<h1 class="title">筛选</h1>
		</header>
		<div class="content city" style="margin-top:-100px">
		  <section>
		  	<input type="text" placeholder="0"> <input type="text" placeholder="0">
		  </section>
		  <div class="currentcity">
				<p class="hottit">热门城市</p>
				<div>重庆</div>
			</div>
	      <div class="clearfix cityCon">
				<p class="hottit">热门城市</p>
				<div>
				<span class="on">北京</span>
				<span>上海</span>
				<span>南京</span>
				<span>广东</span>
				<span>天津</span>
				<span>北京</span>
				<span>上海</span>
				<span>南京</span>
				<span>广东</span>
				<span>天津</span>
				<span>北京</span>
				<span>上海</span>
				<span>南京</span>
				<span>广东</span>
				<span>天津</span>
				<span>北京</span>
				<span>上海</span>
				<span>南京</span>
				<span>广东</span>
				<span>天津</span>
				<span>北京</span>
				<span>上海</span>
				<span>南京</span>
				<span>广东</span>
				<span>天津</span>
				<span>北京</span>
				<span>上海</span>
			</div>
			</div>
			<div class="clearfix cityCon">
				<p class="hottit">快速定位</p>
				<div>
				<a href="#A1">A</a>
				<a href="#B1">B</a>
				<a href="#C1">C</a>
				<a href="#D">D</a>
				<a href="#E">E</a>
				<a href="#F">F</a>
				<a href="#G">G</a>
				<a href="#H">H</a>
				<a href="#I">I</a>
				<a href="#J">J</a>
				<a href="#K">K</a>
				<a href="#L">L</a>
				<a href="#M">M</a>
				<a href="#N">N</a>
				<a href="#O">O</a>
				<a href="#P">P</a>
				<a href="#Q">Q</a>
				<a href="#R">R</a>
				<a href="#S">S</a>
				<a href="#T">T</a>
				<a href="#U">U</a>
				<a href="#V">V</a>
				<a href="#W">W</a>
				<a href="#X">X</a>
				<a href="#Y">Y</a>
				<a href="#Z">Z</a>
			</div>
			</div>
			<div class="clearfix cityCon">
				<p class="hottit" name="A1" id="A1">A</p>
				<span>鞍山</span>
			</div>
			<div class="clearfix cityCon" name="B1" id="B1">
				<p class="hottit">B</p>
				<span>北京</span>
			</div>
			<div class="clearfix cityCon"  name="C1" id="C1">
				<p class="hottit">C</p>
				<span>成都</span><span>重庆</span><span>长沙</span><span>长春</span><span>常州</span>
			</div>
		</div>	
	</div>
</body>

</html>
